# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.DS_Store

# Kotlin
.kotlin/

# Android
local.properties
*.apk
*.aab
*.ap_
*.dex

# iOS
*.xcuserstate
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
DerivedData/
Pods/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Node
node_modules/

# CocoaPods
/ios/Pods/

# Bundle artifact
*.jsbundle

# Local configuration file
.env.local
.env.development.local
.env.test.local
.env.production.local
